@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #0a0e17;
  color: #e5e7eb;
  font-family: Menlo, Monaco, Consolas, 'Liberation Mono', monospace;
}
